In [1]:
import pandas as pd
import os
from mysql.connector import connect
import pymongo

In [19]:
pd.set_option('display.max_columns', 500)

# Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb

In [11]:
# Read in pandas
filepath = "FitBit data.csv"
fitbit_df = pd.read_csv(filepath)
# print(fitbit_df.head())

In [ ]:
#insert into mongodb
fitbit_df_dict = fitbit_df.to_dict('records')

mongo_con = pymongo.MongoClient("mongodb+srv://subho9717:subho9717@ineuron.8npdrfs.mongodb.net/?retryWrites=true&w=majority")
mongo_con_db = mongo_con.test
print('connection ok')

db1 = mongo_con['ineuron_31july']

coll1 = db1['FitBit_data']#table
# coll1.insert_many(fitbit_df_dict,ordered=False)
mongo_data = coll1.find({})
for  r in mongo_data:
    print(r)

2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
  hint - use csvkit library to automate this task and to load a data in bulk in you mysql

In [15]:
file_name = "E:/OneDrive - student.amity.edu/office/python & R/DataScience_ineuron/Ineuron_Assignment/class assignment/FitBit data.csv"

# !csvsql -i mysql  "E:/OneDrive - student.amity.edu/office/python & R/DataScience_ineuron/Ineuron_Assignment/class assignment/FitBit data.csv"  >  "E:/OneDrive - student.amity.edu/office/python & R/DataScience_ineuron/Ineuron_Assignment/class assignment/FitBit_ddl.sql"

os.system('csvsql --insert --db mysql+mysqlconnector://root:subho987@localhost:3306/ineuron_31july "'+file_name+'"')

print('csv inserted in mysql databasd')

csv inserted in mysql databasd

In [6]:
#Read from mysql
conn  = connect(user='root', password='subho987', host = 'localhost' ,database = 'ineuron_31july')

mysql_df = pd.read_sql_query("select * from `fitBit data`",conn)
# print(mysql_df.head())

c:\Users\Subhajit\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you\
 to convert it in date format

In [3]:
fitbit_df['ActivityDate'] = fitbit_df.ActivityDate.apply(lambda x: pd.Timestamp(x).strftime('%d-%m-%Y'))

In [4]:
print(fitbit_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    object
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 53.7+ KB
None

In [7]:
mysql_df['ActivityDate'] = pd.to_datetime(mysql_df.ActivityDate)
# pd.read_sql_query("Alter table `fitBit data` modify  ActivityDate DATE",conn)

In [8]:
print(mysql_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    float64
 1   ActivityDate              457 non-null    datetime64[ns]
 2   TotalSteps                457 non-null    float64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    float64
 11  FairlyActiveMinutes       457 non-null    float64
 12  LightlyActiveMinutes      457 non-null    float64
 13  SedentaryMinutes          457 non-null    float64
 14  Calories                  457 non-null    float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 53.7 KB
None

4 . Find out in this data that how many unique id's we have

In [9]:
print(fitbit_df.Id.unique())

[1503960366 1624580081 1644430081 1844505072 1927972279 2022484408
 2026352035 2320127002 2347167796 2873212765 2891001357 3372868164
 3977333714 4020332650 4057192912 4319703577 4388161847 4445114986
 4558609924 4702921684 5553957443 5577150313 6117666160 6290855005
 6391747486 6775888955 6962181067 7007744171 7086361926 8053475328
 8253242879 8378563200 8583815059 8792009665 8877689391]

5 . which id is one of the active id that you have in whole dataset

In [14]:
fitbit_df.groupby('Id')['Id'].count().sort_values(ascending=False).head(1)

Id
4057192912    32
Name: Id, dtype: int64

6 . how many of them have not logged there activity find out in terms of number of ids

In [ ]:
fitbit_df.groupby('LoggedActivitiesDistance')['LoggedActivitiesDistance'].count().sort_values(ascending=False)

In [44]:
x = fitbit_df[fitbit_df['LoggedActivitiesDistance']==0].groupby('Id').count().reset_index()[['Id','LoggedActivitiesDistance']]
x

            Id  LoggedActivitiesDistance
0   1503960366                        19
1   1624580081                        19
2   1644430081                        10
3   1844505072                        12
4   1927972279                        12
5   2022484408                        12
6   2026352035                        12
7   2320127002                        12
8   2347167796                        15
9   2873212765                        12
10  2891001357                         5
11  3372868164                        10
12  3977333714                        12
13  4020332650                        32
14  4057192912                        31
15  4319703577                        12
16  4388161847                         8
17  4445114986                        15
18  4558609924                        12
19  4702921684                        15
20  5553957443                        12
21  5577150313                        11
22  6117666160                        10
23  6290855005                        10
24  6391747486                         7
25  6775888955                         9
26  6962181067                        10
27  7007744171                         5
28  7086361926                        12
29  8053475328                        11
30  8253242879                        12
31  8378563200                         5
32  8583815059                         8
33  8792009665                        12
34  8877689391                        12

7 . Find out who is the laziest person id that we have in dataset

8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [55]:
calaries_avg = 1800
healthy_person = fitbit_df[fitbit_df['Calories']>calaries_avg]['Calories'].count()
print(healthy_person)

326

9. how many person are not a regular person with respect to activity try to find out those

In [61]:
fitbit_df[fitbit_df['Calories']==0]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
134,2873212765,4/12/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
240,4319703577,4/9/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
290,4702921684,4/12/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
323,6117666160,4/10/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
412,8253242879,4/12/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0

10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [69]:
fitbit_df.groupby('Id')['Calories'].sum().nlargest(3)

Id
4020332650    98412
4057192912    60913
4702921684    42322
Name: Calories, dtype: int64

In [79]:

trd_mst = "select   Id,sum(Calories) as calories_sum from ineuron_31july.`fitbit data` group by Calories order by calories_sum desc"
trd_mste = pd.read_sql_query(trd_mst,conn).head(3)
print(trd_mste)

             Id  calories_sum
0  4.057193e+09       19536.0
1  3.372868e+09       15024.0
2  6.290855e+09       12360.0

c:\Users\Subhajit\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

11 . who is the 5th most laziest person avilable in dataset find it out

In [80]:
fitbit_df.groupby('Id')['Calories'].sum().nsmallest(5)

Id
4388161847    14442
6391747486    15868
2026352035    16266
3977333714    16777
8253242879    17556
Name: Calories, dtype: int64

12 . what is a total acumulative calories burn for a person find out

# task 2

1 . load this data in sql and in pandas with a relation in sql

In [20]:
# Read in pandas
filepath = "Superstore_USA.csv"
superstore_df = pd.read_csv(filepath)
superstore_df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,28-05-2012,30-05-2012,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,07-07-2010,08-07-2010,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,27-07-2011,28-07-2011,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,27-07-2011,28-07-2011,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,27-07-2011,27-07-2011,998.2023,8,1446.67,88523

In [8]:
superstore_df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [11]:
superstore_df.shape

(9426, 24)

2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table

In [5]:
file_name2 = "E:\OneDrive - student.amity.edu\office\python & R\DataScience_ineuron\Ineuron_Assignment\class assignment\Superstore_USA.csv"


os.system('csvsql --insert --db mysql+mysqlconnector://root:subho987@localhost:3306/ineuron_31july "'+file_name2+'"')

print('csv inserted in mysql databasd')

csv inserted in mysql databasd

3 . Find out how return that we have recived and with a product id

In [9]:
superstore_df.groupby('Order ID')['Profit'].sum()

Order ID
6          -4.6400
193       -37.0400
322       -33.8300
358     -1078.7900
359      -500.3800
           ...
91587     134.9088
91588      -8.1100
91589      23.4980
91590    -177.6260
91591    2120.5591
Name: Profit, Length: 6455, dtype: float64

4 . try  to join order and return data both in sql and pandas

5 . Try to find out how many unique customer that we have

In [18]:
superstore_df['Customer ID'].nunique()

2703

6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

In [ ]:
# superstore_df.groupby('Region','')

In [ ]:
#task 2 - Superstore_USA






7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins 

submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai