In [2]:
from mysql.connector import connect
import pandas as pd
import pymongo

# mysql connection

In [3]:
conn  = connect(user='root', password='subho@987', host = 'localhost' )
cursor = conn.cursor()

# show databases

In [4]:
q0 = 'show databases'
cursor.execute(q0)
print(cursor.fetchall())

[('ineuron_24july',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

# create database

In [5]:
q1 = "create  database  IF NOT EXISTS ineuron_24july"
cursor.execute(q1)

# read excel table

In [6]:
df_att = pd.read_excel('Attribute DataSet.xlsx')
df_att.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [7]:
df_att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        500 non-null    int64
 1   Style           500 non-null    object
 2   Price           498 non-null    object
 3   Rating          500 non-null    float64
 4   Size            500 non-null    object
 5   Season          498 non-null    object
 6   NeckLine        497 non-null    object
 7   SleeveLength    498 non-null    object
 8   waiseline       413 non-null    object
 9   Material        372 non-null    object
 10  FabricType      234 non-null    object
 11  Decoration      264 non-null    object
 12  Pattern Type    391 non-null    object
 13  Recommendation  500 non-null    int64
dtypes: float64(1), int64(2), object(11)
memory usage: 54.8+ KB

In [8]:
df_att.isna().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
waiseline          87
Material          128
FabricType        266
Decoration        236
Pattern Type      109
Recommendation      0
dtype: int64

In [9]:
df_att.fillna(0,inplace=True)

In [10]:
df_att1 = pd.read_excel('Dress Sales.xlsx')
df_att1.head()

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

In [11]:
df_att1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Dress_ID             500 non-null    int64
 1   29/8/2013            500 non-null    int64
 2   31/8/2013            500 non-null    int64
 3   2013-02-09 00:00:00  500 non-null    int64
 4   2013-04-09 00:00:00  500 non-null    int64
 5   2013-06-09 00:00:00  500 non-null    int64
 6   2013-08-09 00:00:00  500 non-null    int64
 7   2013-10-09 00:00:00  500 non-null    int64
 8   2013-12-09 00:00:00  500 non-null    object
 9   14/9/2013            500 non-null    object
 10  16/9/2013            500 non-null    object
 11  18/9/2013            500 non-null    object
 12  20/9/2013            500 non-null    object
 13  22/9/2013            500 non-null    object
 14  24/9/2013            500 non-null    int64
 15  26/9/2013            263 non-null    float64
 16  28/9/2013            500 non-null    int64
 17  30/9/2013            227 non-null    float64
 18  2013-02-10 00:00:00  225 non-null    float64
 19  2013-04-10 00:00:00  226 non-null    float64
 20  2013-06-10 00:00:00  500 non-null    int64
 21  2010-08-10 00:00:00  229 non-null    float64
 22  2013-10-10 00:00:00  229 non-null    float64
 23  2013-12-10 00:00:00  500 non-null    int64
dtypes: float64(6), int64(12), object(6)
memory usage: 93.9+ KB

In [12]:
df_att1.isna().sum()

Dress_ID                 0
29/8/2013                0
31/8/2013                0
2013-02-09 00:00:00      0
2013-04-09 00:00:00      0
2013-06-09 00:00:00      0
2013-08-09 00:00:00      0
2013-10-09 00:00:00      0
2013-12-09 00:00:00      0
14/9/2013                0
16/9/2013                0
18/9/2013                0
20/9/2013                0
22/9/2013                0
24/9/2013                0
26/9/2013              237
28/9/2013                0
30/9/2013              273
2013-02-10 00:00:00    275
2013-04-10 00:00:00    274
2013-06-10 00:00:00      0
2010-08-10 00:00:00    271
2013-10-10 00:00:00    271
2013-12-10 00:00:00      0
dtype: int64

In [13]:
df_att1.fillna(0,inplace=True)

# create table

In [14]:
q2t1 = "create table IF NOT EXISTS ineuron_24july.Attribute_dataset(Dress_ID int ,Style varchar(100),Price varchar(50),Rating float,Size varchar(50),Season varchar(50),NeckLine varchar(50),SleeveLength varchar(50),wiseline varchar(50),Material varchar(50),FabricType varchar(50),Decoration varchar(50),PatternType varchar(50),Recommendation int)"
cursor.execute(q2t1)

In [15]:
q2t2 ="create table IF NOT EXISTS ineuron_24july.Dress_Sales(Dress_ID int ,`29/8/2013` int ,`31/8/2013` int,`09-02-2013` varchar(50),`09-04-2013` int,`09-06-2013` int,`09-08-2013` int,`09-10-2013` int,`09-12-2013`  varchar(50),`14/9/2013` varchar(50),`16/9/2013` varchar(50),`18/9/2013`  varchar(50),`20/9/2013`  varchar(50),`22/9/2013` varchar(50),`24/9/2013` int,`26/9/2013` float,`28/9/2013` int,`30/9/2013` float,`10-02-2013` float,`10-04-2013` float,`10-06-2013` int,`10-08-2010` float,`10-10-2013` float,`10-12-2013` int)"
cursor.execute(q2t2)

# excel to mysql database

In [ ]:
for r in df_att.itertuples():

    q3 = "insert into ineuron_24july.Attribute_dataset(Dress_ID ,Style,Price ,Rating ,Size ,Season ,NeckLine ,SleeveLength ,wiseline ,Material ,FabricType ,Decoration ,PatternType ,Recommendation )values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    val = (r[1],r[2],r[3],r[4],r[5],r[6],r[7],r[8],r[9],r[10],r[11],r[12],r[13],r[14])
    cursor.execute(q3,val)
    conn.commit()

In [27]:
for r in df_att1.itertuples():

    q31 = "insert into ineuron_24july.Dress_Sales(`Dress_ID` ,`29/8/2013` ,`31/8/2013`,`09-02-2013`,`09-04-2013`,`09-06-2013`,`09-08-2013`,`09-10-2013`,`09-12-2013`,`14/9/2013`,`16/9/2013`,`18/9/2013`,`20/9/2013`,`22/9/2013`,`24/9/2013`,`26/9/2013`,`28/9/2013`,`30/9/2013`,`10-02-2013`,`10-04-2013`,`10-06-2013`,`10-08-2010`,`10-10-2013`,`10-12-2013`)values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    val1= (r[1],r[2],r[3],r[4],r[5],r[6],r[7],r[8],r[9],r[10],r[11],r[12],r[13],r[14],r[15],r[16],r[17],r[18],r[19],r[20],r[21],r[22],r[23],r[24])
    cursor.execute(q31,val1)
    conn.commit()
    # print(val1)

# read from data base

In [42]:
q4 = "select * from ineuron_24july.Attribute_dataset"
df_mysql_att = pd.read_sql_query(q4,conn)
df_mysql_att.head()
df_mysql_att.columns

C:\Users\Subhajit\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'wiseline', 'Material', 'FabricType', 'Decoration',
       'PatternType', 'Recommendation'],
      dtype='object')

In [19]:
q41 = "select * from ineuron_24july.Dress_Sales"
df_mysql_dress = pd.read_sql_query(q41,conn)
df_mysql_dress.columns

C:\Users\Subhajit\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Index(['Dress_ID', '29/8/2013', '31/8/2013', '09-02-2013', '09-04-2013',
       '09-06-2013', '09-08-2013', '09-10-2013', '09-12-2013', '14/9/2013',
       '16/9/2013', '18/9/2013', '20/9/2013', '22/9/2013', '24/9/2013',
       '26/9/2013', '28/9/2013', '30/9/2013', '10-02-2013', '10-04-2013',
       '10-06-2013', '10-08-2010', '10-10-2013', '10-12-2013'],
      dtype='object')

# to json

In [33]:

df_mysql_att_dict = df_mysql_att.to_dict('records')

In [37]:
df_mysql_dress_dict = df_mysql_dress.to_dict('records')

# mongo upload

In [34]:
mongo_con = pymongo.MongoClient("mongodb+srv://subho9717:subho9717@ineuron.8npdrfs.mongodb.net/?retryWrites=true&w=majority")
mongo_con_db = mongo_con.test
print('connection ok')

connection ok

In [35]:
db1 = mongo_con['ineuron_24july']#database

In [39]:
coll1 = db1['Attribute_dataset']#table
coll1.insert_many(df_mysql_att_dict,ordered=False)

In [40]:
coll2 = db1['Dress_Sales']#table
coll2.insert_many(df_mysql_dress_dict,ordered=False)

# left join sql dataset

In [45]:
q5 = "SELECT att.Dress_ID,dr.Dress_ID, att.Style, att.Price, att.Rating, att.Size, att.Season, att.NeckLine,\
att.SleeveLength, att.wiseline, att.Material, att.FabricType, att.Decoration,\
att.PatternType, att.Recommendation, dr.`29/8/2013`, dr.`31/8/2013`,\
dr.`09-02-2013`, dr.`09-04-2013`,\
dr.`09-06-2013`, dr.`09-08-2013`, dr.`09-10-2013`, dr.`09-12-2013`, dr.`14/9/2013`,\
dr.`16/9/2013`, dr.`18/9/2013`, dr.`20/9/2013`, dr.`22/9/2013`, dr.`24/9/2013`,\
dr.`26/9/2013`, dr.`28/9/2013`, dr.`30/9/2013`, dr.`10-02-2013`, dr.`10-04-2013`,dr.`10-06-2013`, dr.`10-08-2010`, dr.`10-10-2013`, dr.`10-12-2013` \
FROM ineuron_24july.attribute_dataset as att left join ineuron_24july.dress_sales as dr on att.Dress_ID = dr.Dress_ID"
df_left = pd.read_sql_query(q4,conn)
df_left

C:\Users\Subhajit\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,wiseline,Material,FabricType,Decoration,PatternType,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,0,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,0,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,0,0,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,0,0,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,0,0,0,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,0,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

# unique dress

In [46]:
q6 = "SELECT Dress_ID,count(Dress_ID) FROM ineuron_24july.attribute_dataset group by Dress_ID;"
df_uni = pd.read_sql_query(q6,conn)
print(df_uni)

       Dress_ID  count(Dress_ID)
0    1006032852                1
1    1212192089                1
2    1190380701                1
3     966005983                1
4     876339541                1
..          ...              ...
470   990559192                1
471   713391965                1
472   532874347                1
473   655464934                1
474   919930954                1

[475 rows x 2 columns]

C:\Users\Subhajit\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

# recomendation 0

In [47]:
q7 = "SELECT Recommendation,count(Recommendation) as recomendation_count FROM ineuron_24july.attribute_dataset where Recommendation = 0 group by Recommendation;"
df_reco = pd.read_sql_query(q7,conn)
print(df_reco)

   Recommendation  recomendation_count
0               0                  290

C:\Users\Subhajit\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

# dress sales

In [61]:
q8 = "SELECT * FROM ineuron_24july.dress_sales;"
dress_sale = pd.read_sql_query(q8,conn)
dress_sale['dress_sale_sum'] = dress_sale[['29/8/2013', '31/8/2013', '09-02-2013', '09-04-2013',
       '09-06-2013', '09-08-2013', '09-10-2013', '09-12-2013', '14/9/2013',
       '16/9/2013', '18/9/2013', '20/9/2013', '22/9/2013', '24/9/2013',
       '26/9/2013', '28/9/2013', '30/9/2013', '10-02-2013', '10-04-2013',
       '10-06-2013', '10-08-2010', '10-10-2013', '10-12-2013']].sum(axis=1).astype('int64')

C:\Users\Subhajit\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Subhajit\AppData\Local\Temp\ipykernel_5800\3130343083.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dress_sale['dress_sale_sum'] = dress_sale[['29/8/2013', '31/8/2013', '09-02-2013', '09-04-2013',

In [70]:
dress_sale.nlargest(3,['dress_sale_sum'])

,Dress_ID,29/8/2013,31/8/2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14/9/2013,...,26/9/2013,28/9/2013,30/9/2013,10-02-2013,10-04-2013,10-06-2013,10-08-2010,10-10-2013,10-12-2013,dress_sale_sum
29,629131530,7455,7467,7479,7374,7351,7255,7240,7156,7124,...,6528.0,6476,6327.0,6285.0,6142.0,6049,5912.0,5862.0,5753,106120
13,749031896,2498,2545,2627,2656,2669,2738,2769,2934,3001,...,3561.0,3667,3680.0,3745.0,3842.0,3952,3999.0,4077.0,4170,54013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048,53702