In [2]:
import pandas as pd

In [3]:
ap_df = pd.read_excel('AgentPerformance (1).xlsx',header=1)

C:\Users\Subhajit\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
ap_df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6

In [19]:
ap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SL No                    2160 non-null   int64
 1   Date                     2160 non-null   datetime64[ns]
 2   Agent Name               2160 non-null   object
 3   Total Chats              2160 non-null   int64
 4   Average Response Time    2160 non-null   object
 5   Average Resolution Time  2160 non-null   object
 6   Average Rating           2160 non-null   float64
 7   Total Feedback           2160 non-null   int64
 8   converted_week           2160 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(3)
memory usage: 152.0+ KB

In [6]:
ap_df['Date'] = pd.to_datetime(ap_df.Date)

In [7]:
ap_df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback'],
      dtype='object')

In [8]:
ap_df['converted_week'] = ap_df.Date.dt.week

C:\Users\Subhajit\AppData\Local\Temp\ipykernel_11576\1733113987.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  ap_df['converted_week'] = ap_df.Date.dt.week

In [9]:
ap_df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_week
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,30

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [10]:
ap_df.groupby(['Agent Name','converted_week'])['Average Rating'].sum()/5

Agent Name  converted_week
Abhishek    26                0.000
            27                0.000
            28                0.000
            29                0.000
            30                0.000
                              ...
Zeeshan     26                0.000
            27                1.830
            28                4.128
            29                4.452
            30                3.312
Name: Average Rating, Length: 350, dtype: float64

In [14]:
alr_df = pd.read_excel('Agent_Login_Report (4).xls',header=2)

In [15]:
alr_df.head()

   SL No               Agent       Date   Login Time  Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM  02:04:10
1      2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM  00:00:17
2      3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM  00:45:06
4      5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM  01:08:36

In [21]:
alr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SL No        1000 non-null   int64
 1   Agent        1000 non-null   object
 2   Date         1000 non-null   datetime64[ns]
 3   Login Time   1000 non-null   object
 4   Logout Time  1000 non-null   object
 5   Duration     1000 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 47.0+ KB

In [16]:
alr_df.columns

Index(['SL No', 'Agent', 'Date', 'Login Time', 'Logout Time', 'Duration'], dtype='object')

In [20]:
alr_df['Date'] = pd.to_datetime(alr_df['Date'])

2 .Total working days for each agents

In [22]:
alr_df.groupby('Agent')['Date'].count()

Agent
Aditya Shinde               1
Aditya_iot                  9
Amersh                      4
Ameya Jain                 10
Ankitjha                    4
Anurag Tiwari              37
Aravind                    10
Ayushi Mishra              18
Bharath                     9
Boktiar Ahmed Bappy        17
Chaitra K Hiremath         13
Deepranjan Gupta           58
Dibyanshu                 208
Harikrishnan Shaji         23
Hrisikesh Neogi            37
Hyder Abbas                 2
Ineuron Intelligence        1
Ishawant Kumar             49
Jawala Prakash             16
Jaydeep Dixit              11
Khushboo Priya             18
Madhulika G                17
Mahesh Sarade              36
Maitry                      5
Manjunatha A                8
Mithun S                   14
Mukesh                      3
Muskan Garg                12
Nandani Gupta              11
Nishtha Jain               18
Nitin M                     1
Prabir Kumar Satapathy     26
Prateek _iot               17
Prerna Singh               18
Rishav Dash                12
Saikumarreddy N            10
Sanjeev Kumar              20
Saurabh Shukla             40
Shiva Srivastava           15
Shivan K                   36
Shivananda Sonwane         15
Shubham Sharma             35
Sowmiya Sivakumar          24
Sudhanshu Kumar            11
Suraj S Bilgi               5
Swati                       5
Tarun                       1
Wasim                      20
Zeeshan                    10
Name: Date, dtype: int64

3. Total query that you have taken

In [23]:
ap_df.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

4. total Feedback that you have received

In [24]:
ap_df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

5. a agent name who have average rating between 3.5 to 4

In [42]:
avg3_4 = ap_df[(ap_df['Average Rating'] >= 3.5) | (ap_df['Average Rating'] <= 4)]
avg3_4['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

6 . Agent name who have rating lesss then 3.5

In [45]:
avg3 = ap_df[ap_df['Average Rating'] < 3.5]
avg3['Agent Name'].unique()

array(['Nandani Gupta', 'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ',
       'Shiva Srivastava', 'Dibyanshu ', 'Ashish ', 'Uday Mishra',
       'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim ', 'Samprit ',
       'Maitry ', 'Abhishek ', 'Rishav Dash', 'Aravind ', 'Tarun ',
       'Muskan Garg', 'Ankit Sharma', 'Bharath ', 'Ashad Nasim',
       'Vasanth P', 'Aditya ', 'Amersh ', 'Sandipan Saha',
       'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ', 'Zeeshan ',
       'Anurag Tiwari', 'Ankitjha ', 'Saif Khan', 'Jaydeep Dixit',
       'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas', 'Rohan ', 'Vivek ',
       'Nitin M', 'Shivan_S ', 'Spuri ', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot ', 'Jawala Prakash',
       'Sowmiya Sivakumar', 'Nishtha Jain', 'Swati ', 'Khushboo Priya',
       'Shubham Sharma', 'Manjunatha A', 'Ameya Jain',
       'Harikrishnan Shaji', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Mukesh ', 'Hrisikesh Neogi', 'Mithun S', 'Prerna Singh',
       'Suraj S Bilgi', 'Shivan K', 'Mahesh Sarade', 'Madhulika G',
       'Boktiar Ahmed Bappy', 'Deepranjan Gupta', 'Ishawant Kumar',
       'Shivananda Sonwane'], dtype=object)

7 . agent name who have rating more then 4.5

In [44]:
avg4 = ap_df[ap_df['Average Rating'] > 4.5]
avg4['Agent Name'].unique()

array(['Ameya Jain', 'Mahesh Sarade', 'Mukesh ', 'Saikumarreddy N',
       'Sanjeev Kumar', 'Harikrishnan Shaji', 'Sowmiya Sivakumar',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Muskan Garg', 'Aditya_iot ',
       'Chaitra K Hiremath', 'Suraj S Bilgi', 'Mithun S', 'Wasim ',
       'Bharath ', 'Jawala Prakash', 'Ayushi Mishra', 'Prateek _iot ',
       'Nandani Gupta', 'Khushboo Priya', 'Manjunatha A', 'Maitry ',
       'Jaydeep Dixit', 'Madhulika G', 'Prerna Singh', 'Shivan K',
       'Shiva Srivastava', 'Swati ', 'Shubham Sharma', 'Aravind ',
       'Zeeshan ', 'Hrisikesh Neogi', 'Prabir Kumar Satapathy',
       'Rishav Dash', 'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Nishtha Jain', 'Saurabh Shukla', 'Anirudh ', 'Jayant Kumar',
       'Mukesh Rao ', 'Vivek ', 'Ankitjha '], dtype=object)

In [65]:
# avgtst = ap_df.loc[ap_df['Average Rating'] > 4.5]
# avgtst['Agent Name'].unique()

8 . how many feedaback agents have received more then 4.5 average

In [66]:
avgtf4 = avg4.groupby('Agent Name').sum('Total Feedback').reset_index()
avgtf4[['Agent Name','Total Feedback']]

                Agent Name  Total Feedback
0            Aditya Shinde              73
1              Aditya_iot               43
2               Ameya Jain             150
3                 Anirudh                2
4                Ankitjha                1
5                 Aravind              178
6            Ayushi Mishra              75
7                 Bharath              231
8      Boktiar Ahmed Bappy              52
9       Chaitra K Hiremath               5
10        Deepranjan Gupta              83
11      Harikrishnan Shaji              80
12         Hrisikesh Neogi             183
13          Ishawant Kumar              79
14          Jawala Prakash              33
15            Jayant Kumar               7
16           Jaydeep Dixit             179
17          Khushboo Priya             134
18             Madhulika G              67
19           Mahesh Sarade              46
20                 Maitry               81
21            Manjunatha A             132
22                Mithun S              93
23                 Mukesh               17
24             Mukesh Rao                1
25             Muskan Garg              14
26           Nandani Gupta              91
27            Nishtha Jain              18
28  Prabir Kumar Satapathy              53
29           Prateek _iot               54
30            Prerna Singh              82
31             Rishav Dash              27
32         Saikumarreddy N             184
33           Sandipan Saha               1
34           Sanjeev Kumar             164
35          Saurabh Shukla               3
36        Shiva Srivastava               2
37                Shivan K             130
38      Shivananda Sonwane             154
39          Shubham Sharma             155
40       Sowmiya Sivakumar              16
41         Sudhanshu Kumar               2
42           Suraj S Bilgi               4
43                  Swati              103
44                  Vivek                3
45                  Wasim              156
46                Zeeshan               48

9 . average weekly response time for each agent

10 . average weekely resolution time for each agents

11 . list of all agents name

In [70]:
ap_df['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

12 . percentage of chat on which they have received a feedback

In [86]:
ap_df_th0 = ap_df[ap_df['Total Feedback'] != 0]
ap_df_th1 = ap_df_th0.groupby('Agent Name')['Total Chats','Total Feedback'].sum().reset_index()
sum_tc= sum(ap_df_th1['Total Chats'])
ap_df_th1['Total Chat %'] = (ap_df_th1['Total Chats']*100)/sum_tc
ap_df_th1.sort_values('Total Chat %',ascending=False)

C:\Users\Subhajit\AppData\Local\Temp\ipykernel_11576\2549092610.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ap_df_th1 = ap_df_th0.groupby('Agent Name')['Total Chats','Total Feedback'].sum().reset_index()

                Agent Name  Total Chats  Total Feedback  Total Chat %
14         Hrisikesh Neogi          578             367      3.931438
30           Nandani Gupta          560             308      3.809006
52                Zeeshan           542             335      3.686573
23                 Maitry           542             347      3.686573
48                  Swati           524             302      3.564141
8            Ayushi Mishra          514             329      3.496123
18           Jaydeep Dixit          512             305      3.482519
44          Shubham Sharma          510             300      3.468916
38           Sanjeev Kumar          507             311      3.448510
26                Mithun S          503             364      3.421303
12        Deepranjan Gupta          492             312      3.346483
20             Madhulika G          469             281      3.190042
10     Boktiar Ahmed Bappy          450             311      3.060808
19          Khushboo Priya          444             289      3.019997
43      Shivananda Sonwane          441             263      2.999592
16          Jawala Prakash          439             250      2.985988
51                  Wasim           433             284      2.945178
25            Manjunatha A          411             254      2.795538
35             Rishav Dash          407             264      2.768331
34            Prerna Singh          401             235      2.727520
13      Harikrishnan Shaji          381             231      2.591484
31            Nishtha Jain          373             257      2.537070
9                 Bharath           369             247      2.509863
6                 Aravind           366             233      2.489457
22           Mahesh Sarade          364             216      2.475854
36         Saikumarreddy N          364             290      2.475854
41                Shivan K          355             243      2.414637
15          Ishawant Kumar          338             202      2.299007
2               Ameya Jain          322             228      2.190178
32  Prabir Kumar Satapathy          299             222      2.033737
0            Aditya Shinde          277             153      1.884097
1              Aditya_iot           231             131      1.571215
45       Sowmiya Sivakumar          206             141      1.401170
33           Prateek _iot           189             107      1.285539
17            Jayant Kumar          127              70      0.863828
3                 Anirudh            80              39      0.544144
11      Chaitra K Hiremath           64              37      0.435315
29             Muskan Garg           56              37      0.380901
40        Shiva Srivastava           53              46      0.360495
50                  Vivek            44              20      0.299279
37           Sandipan Saha           30              18      0.204054
47           Suraj S Bilgi           28              15      0.190450
49                  Tarun            22               6      0.149640
27                 Mukesh            19              17      0.129234
7              Ashad Nasim           18               9      0.122432
39          Saurabh Shukla           16               8      0.108829
21                  Mahak             7               5      0.047613
42               Shivan_S             7               4      0.047613
28             Mukesh Rao             5               5      0.034009
5            Anurag Tiwari            4               3      0.027207
4                Ankitjha             4               3      0.027207
24                Maneesh             3               3      0.020405
46         Sudhanshu Kumar            2               2      0.013604

13 . Total contributation hour for each and every agents weekly basis

In [92]:
alr_df['converted_week'] = ap_df.Date.dt.week

C:\Users\Subhajit\AppData\Local\Temp\ipykernel_11576\1849448829.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  alr_df['converted_week'] = ap_df.Date.dt.week

In [115]:
alr_df['Duration'] = alr_df['Duration'].str.replace(':','.')
alr_df['Duration'].srt[0:4]

AttributeError: 'Series' object has no attribute 'srt'

In [109]:
alr_df

,SL No,Agent,Date,Login Time,Logout Time,Duration,converted_week
0,1,Shivananda Sonwane,2022-07-30,03:35:29 PM,05:39:39 PM,02.04.10,30
1,2,Khushboo Priya,2022-07-30,03:06:59 PM,03:07:16 PM,02.04.10,30
2,3,Nandani Gupta,2022-07-30,03:04:24 PM,05:31:07 PM,02.04.10,30
3,4,Hrisikesh Neogi,2022-07-30,02:34:29 PM,03:19:35 PM,02.04.10,30
4,5,Mukesh,2022-07-30,02:03:15 PM,03:11:52 PM,02.04.10,30
...,...,...,...,...,...,...,...
995,996,Manjunatha A,2022-07-20,09:03:51 AM,03:02:28 PM,02.04.10,28
996,997,Bharath,2022-07-20,09:00:49 AM,03:01:32 PM,02.04.10,28
997,998,Khushboo Priya,2022-07-20,08:59:20 AM,02:26:55 PM,02.04.10,28
998,999,Nishtha Jain,2022-07-20,08:43:55 AM,02:00:33 PM,02.04.10,28
999,1000,Tarun,2022-07-01,01:52:47 AM,12:01:07 PM,02.04.10,28

In [110]:
alr_df.groupby(['Agent','converted_week'])['Duration'].sum()

Agent          converted_week
Aditya Shinde  30                                                         02.04.10
Aditya_iot     28                                                         02.04.10
               29                                         02.04.1002.04.1002.04.10
               30                         02.04.1002.04.1002.04.1002.04.1002.04.10
Amersh         30                                 02.04.1002.04.1002.04.1002.04.10
                                                       ...
Wasim          29                02.04.1002.04.1002.04.1002.04.1002.04.1002.04....
               30                                 02.04.1002.04.1002.04.1002.04.10
Zeeshan        28                                                         02.04.10
               29                 02.04.1002.04.1002.04.1002.04.1002.04.1002.04.10
               30                                         02.04.1002.04.1002.04.10
Name: Duration, Length: 114, dtype: object

NameError: name 'int64' is not defined

In [ ]:
14. total percentage of active hour for a month